@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-background {
   background: linear-gradient(
      45deg,
      #ff5733,
      #ffbd33,
      #75ff33,
      #33ff57,
      #33ffbd,
      #3375ff,
      #5733ff,
      #bd33ff
   );
}


.bg-radial-gradient {
   background: radial-gradient(
      circle,
      rgba(5, 172, 102, 0.111) 0%,
      rgba(22, 92, 204, 0) 50%,
      rgba(1, 53, 138, 0.027) 100%
   );
   /* Replace rgba values with your desired colors and adjust stops as needed */
   width: 100%;
   height: 100%;
}

.text-shadow {
   text-shadow: 3px 3px 10px rgba(0, 128, 66, 0.496);
}

h1.ce-header {
   @apply text-3xl font-extrabold;
}
h2.ce-header {
   @apply text-2xl font-bold;
}

h3.ce-header {
   @apply text-xl font-bold;
}

h5.ce-header {
   @apply text-base font-bold;
}

h5.ce-header {
   @apply text-base font-semibold;
}

h5.ce-header {
   @apply text-base font-semibold;
}

.ce-block--selected .ce-block__content,
.ce-inline-toolbar,
.codex-editor--narrow .ce-toolbox,
.ce-conversion-toolbar,
.ce-settings,
.ce-settings__button,
.ce-toolbar__settings-btn,
.cdx-button,
.ce-popover,
.ce-popover-item,
.ce-popover-item:hover,
.ce-toolbar__plus:hover {
   @apply bg-black;
   @apply text-white;
}

.ce-inline-tool--active {
   background: transparent;
}

.ce-inline-tool,
.ce-conversion-toolbar__label,
.ce-toolbox__button,
.cdx-settings-button,
.ce-toolbar__plus {
   color: inherit;
   background: transparent;
}

::selection {
   background: #009160;
}

.cdx-settings-button:hover,
.ce-settings__button:hover,
.ce-toolbox__button--active,
.ce-toolbox__button:hover,
.cdx-button:hover,
.ce-inline-toolbar__dropdown:hover,
/* .ce-inline-tool:hover, */
.ce-popover__item:hover,
.ce-toolbar__settings-btn:hover {
   background-color: #aaaaaa;
   color: inherit;
}

.cdx-quote__text,
.cdx-list__item,
.cdx-checklist__item,
.ce-paragraph {
   background: transparent;
   padding: 0px 12px;
   border-radius: 4px;
   border-bottom: 1px solid #2c2c2c;
   padding: 3px;
   @apply text-lg;
}

.ce-header {
   @apply bg-background;
   padding: 0 10px;
}
.ce-header::selection,
.ce-paragraph::selection,
.ce-list__item::selection {
   @apply bg-secondary;
   @apply text-primary;
}

.cdx-notify--error {
   background: #fb5d5d !important;
}

.cdx-notify__cross::after,
.cdx-notify__cross::before {
   background: white;
}

/* General hiding of scroll bars for specific elements */
.hide-scrollbars-element {
   -ms-overflow-style: none; /* Internet Explorer 10+ */
   scrollbar-width: 10px; /* Firefox */
}

.hide-scrollbars-element::-webkit-scrollbar {
   display: none; /* Safari and Chrome */
}

@layer base {
   :root {
      --background: 0 0% 0%;
      --foreground: 217 34% 88%;
      --muted: 0 12% 15%;
      --muted-foreground: 0 12% 65%;
      --popover: 0 0% 0%;
      --popover-foreground: 217 34% 98%;
      --card: 0 0% 0%;
      --card-foreground: 217 34% 93%;
      --border: 0 0% 5%;
      --input: 0 0% 8%;
      --primary: 249 65% 76%;
      --primary-foreground: 249 65% 16%;
      --secondary: 249 30% 25%;
      --secondary-foreground: 249 30% 85%;
      --accent: 0 0% 15%;
      --accent-foreground: 0 0% 75%;
      --destructive: 4 82% 54%;
      --destructive-foreground: 0 0% 100%;
      --ring: 249 65% 76%;
      --radius: 0.2rem;
   }

   .dark {
      --background: 0 0% 0%;
      --foreground: 217 34% 88%;
      --muted: 0 12% 15%;
      --muted-foreground: 0 12% 65%;
      --popover: 0 0% 0%;
      --popover-foreground: 217 34% 98%;
      --card: 0 0% 0%;
      --card-foreground: 217 34% 93%;
      --border: 0 0% 5%;
      --input: 0 0% 8%;
      --primary: 199.25 100% 65.79%;
      --primary-foreground: 178.87 0% 0%;
      --secondary: 199.25 100% 16.15%;
      --secondary-foreground: 249 30% 85%;
      --accent: 0 0% 15%;
      --accent-foreground: 0 0% 75%;
      --destructive: 4 100% 50%;
      --destructive-foreground: 0 0% 100%;
      --ring: 249 65% 76%;
      --small: 16px;
      --medium: 18px;
      --large: 20px;
   }
}

.shape {
   position: absolute;
   border: 1px solid white;
   border-radius: 2px;
   z-index: 999;
   @apply text-zinc-300;
}

.background {
   background: radial-gradient(rgba(6, 243, 109, 0.5) 3px, transparent 4px),
      radial-gradient(rgba(2, 92, 2, 0.5) 3px, transparent 4px),
      linear-gradient(#1b1b1b 4px, transparent 0),
      linear-gradient(
         45deg,
         transparent 74px,
         transparent 75px,
         #1b1a1a 75px,
         #1c1c1c 76px,
         transparent 77px,
         transparent 109px
      ),
      linear-gradient(
         -45deg,
         transparent 75px,
         transparent 76px,
         #1b1b1b 76px,
         #1f1f1f 77px,
         transparent 78px,
         transparent 109px
      ),
      #000000;
   background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
   background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

@layer base {
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground;
   }
}
